# .NET
bin/
obj/
*.user

# Node / React
node_modules/
dist/
.env
.env.local

# Docker
*.log

# IDE
.vs/
.vscode/

# graphify
graphify-out/

# entregables del curso
docs/entregables/

# Claude
.claude/
CLAUDE.md